<!-- Import header template-->
{% include "header.html" %}

        <h1 class="big-text">LabChem Reagents Database</h1>
        {% if logged_in %}
            <a href="{{ url_for('new_reagent') }}"><button>Add reagent</button></a>
            <a href="{{ url_for('new_user') }}"><button>Register new user</button></a>
            <a href="#"><button>List of users</button></a>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <table id="database">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Concentration</th>
                <th>Supplier</th>
                <th>CAS</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Location</th>
                <th>Stock</th>
                <th>Added on</th>
                <!-- <th>Added by</th> -->
                <th>Comment</th>
                {% if logged_in %}
                    <th>Edit</th>
                    <th>Delete</th>
                {% endif %}
            </tr>
            {% for reagent in reagents %}
            <tr>
                <td>{{ reagent.reagentid }}</td>
                <td>{{ reagent.name }}</td>
                <td>{{ reagent.concentration }}</td>
                <td>{{ reagent.supplier }}</td>
                <td>{{ reagent.cas }}</td>
                <td>{{ reagent.quantity }}</td>
                <td>{{ reagent.unit }}</td>
                <td>{{ reagent.location }}</td>
                <td>{{ reagent.stock }}</td>
                <td>{{ reagent.date }}</td>
                <td>{{ reagent.comment }}</td>
                {% if logged_in %}
                    <td><a href="{{url_for('edit', reagentid=reagent.reagentid) }}" style="text-decoration:none">✏️</a></td>
                    <td><a href="{{url_for('delete', reagentid=reagent.reagentid) }}" style="text-decoration:none">🗑️</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

<!-- Import footer template-->
{% include "footer.html" %}