<!-- Import header template-->
{% include "header.html" %}
    <body>
        <div>
            <div>   
                <h1 class="big-text">Update Record</h1>
                <h2 class="small-text">Edit details of existing record</h2>
            </div> 
            <form method="POST">
                {{ form.csrf_token }}
                <div>
                    {{ form.name.label }}
                    {{ form.name }}
                </div>
                <div>
                    {{ form.concentration.label }}
                    {{ form.concentration }}
                </div>
                <div>   
                    {{ form.supplier.label }}
                    {{ form.supplier }}
                </div>
                <div>
                    {{ form.cas.label }}
                    {{ form.cas }}
                </div>
                <div>
                    {{ form.capacity.label }}
                    {{ form.capacity }}
                </div>
                <div>
                    {{ form.unit.label }}
                    {{ form.unit }}
                </div>
                <div>
                    {{ form.location.label }}
                    {{ form.location }}
                </div>
                <div>
                    {{ form.stock.label }}
                    {{ form.stock }}
                </div>
                <div>
                    {{ form.comment.label }}
                    {{ form.comment }}
                </div>
                <div>
                    <input type="submit" value="Update record">
                </div>
            </form>
        </div>
{% include "footer.html" %}