<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LabChem</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <a href="{{ url_for('home') }}"><button>Home</button></a>
        {% if not logged_in %}
            <a href="{{ url_for('login') }}"><button>Login</button></a>
        {% else %}
            <a href="{{ url_for('logout') }}"><button>Logout</button></a>
        {% endif %}