<!-- Import header template-->
{% include "header.html" %}
    
        <div id="login-container">
            <div id="login-column">   
                <div class="big-text">LabChem Inventory System</div>
                <!-- {% if not logged_in %}
                    <div class="small-text">Please login to your account</div>
                {% endif %} -->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class=flashes>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div id="login-logo">
                    <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" width="150px">
                </div>
                {% if not logged_in %}
                    <a href="{{ url_for('database') }}"><button>Show database (read only mode)</button></a>
                {% else %}
                    <a href="{{ url_for('database') }}"><button>Show database</button></a>
                {% endif %}
            </div> 
        </div>
        
<!-- Import footer template-->
{% include "footer.html" %}